.cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 200px 0 0 0;
}

.cart .order-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1140px;
    width: 100%;
}

.cart .order-wrapper .product-list {
    max-width: 720px;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cart .order-wrapper .product-list .product {
    position: relative;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
    display: flex;
    gap: 30px;
    align-items: center;
}

.cart .order-wrapper .product-list .product .product-photo {
    max-width: 130px;
    width: 100%;
    height: 140px;
    background-color: rgba(241, 242, 243, 1);
}

.cart .order-wrapper .product-list .product .product-photo .photo {
    width: 100%;
    height: 100%;
}

.cart .order-wrapper .product-list .product .product-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.cart .order-wrapper .product-list .product .product-info .title {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity {
    display: flex;
    align-items: center;
    gap: 48px;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity {
    max-width: 109px;
    background-color: rgba(248, 248, 251, 1);
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 17px 23px;
    align-items: center;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: black;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count-button {
    color: rgba(153, 153, 153, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .total-price {
    color: black;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.cart .order-wrapper .product-list .product .close {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid rgba(68, 68, 68, 10%);
    color: rgba(68, 68, 68, 10%);
    padding: 3px 7px;
    cursor: pointer;
}

.cart .order-wrapper .order {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(68, 68, 68, 0.1);
    padding: 40px;
}

.cart .order-wrapper .order .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .order .order-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row {
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding-bottom: 15px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row.delimiter {
    border-bottom: 2px solid black;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
    font-size: 14px;
    line-height: 23.8px;
    margin-left: 9px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgba(68, 68, 68, 1);
    max-width: 185px;
    width: 100%;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(68, 68, 68, 1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row .no-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgba(68, 68, 68, 1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total {
    padding-bottom: 0;
    border: 0;
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total .price {
    font-family: Josefin Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .order .button-wrapper {
    max-width: 280px;
}

.cart .order-wrapper .order .button-wrapper .button{
    max-width: 276px;
}

.cart .order-wrapper .order .button-wrapper .vertical-line{
    height: 50px;
}

.cart .promo-code-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 375px;
    width: 100%;
    margin-bottom: 250px;
    position: relative;
}

.cart .promo-code-wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .promo-code-wrapper .info .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    color: black;
}

.cart .promo-code-wrapper .info .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgba(68, 68, 68, 1);
}

.cart .promo-code-wrapper .promo-code {
    display: flex;
    gap: 30px;
    max-width: 334px;
    width: 100%;
}

.cart .promo-code-wrapper .promo-feedback {
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(214, 38, 53);
    padding-top: 2px;
    position: absolute;
    top: 65%;
}

.cart .promo-code-wrapper .promo-feedback .bold-promo {
    font-family: Josefin Sans;
    font-size: 20px;
    color: black;
}

.cart .promo-code-wrapper .promo-feedback.active {
    display: block;
}

.cart .promo-code-wrapper .promo-code .button-wrapper {
    max-width: 54px;
}

.cart .promo-code-wrapper .promo-code .button-wrapper .button {
    max-width: 50px;
    padding: 17px;
    transition: width 0.3s ease;
    transform-origin: right;
}

@media screen and (width < 1180px) {
    .cart .order-wrapper .product-list {
        max-width: unset;
    }
}

@media screen and (max-width: 547px) {
    .cart .order-wrapper .order {
        margin: 0 auto;
    }

    .cart .promo-code-wrapper {
        margin: 0 auto 200px auto;
    }

    .cart .order-wrapper .product-list .product {
        flex-direction: column;
    }

    .cart .order-wrapper .product-list .product .product-image {
        max-width: 280px;
        height: 290px;
    }

    .cart .order-wrapper .product-list .product .product-info .price-wrapper {
        flex-direction: column;
        align-items: end;
    }

    .cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity {
        width: 100%;
        justify-content: space-between;
    }

    .cart .order-wrapper .order .order-price-wrapper .price-row .name{
        word-wrap: break-word;
        max-width: 116px;
    }

    .cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
        white-space: nowrap;
        margin-left: 0;
    }
}