* {
    font-family: Raleway, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.container .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    outline: none;
    color: black;
    padding: 0 0 15px 0;
}

.container .input::placeholder {
    color: rgba(68, 68, 68, 50%);
}

.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: 0;
    padding: 17px 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.container .button-wrapper .button:disabled {
    opacity: 0.5;
}

.container .button-wrapper .button:disabled~.vertical-line {
    opacity: 0.5;
}


.container .button-wrapper .vertical-line {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.container .price {
    display: flex;
    gap: 16px;
    align-items: center;
}

.container .price .current-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: black;
}

.container .price .old-price {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #444444;
    text-decoration: line-through;
}

.container .custom-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.container .custom-list .item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
}

.container .custom-list .item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-image: url("../icons/square.svg");
}

.container .find-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .find-us .find-us-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    color: black;
}

.container .find-us .find-us-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .find-us .find-us-links .find-us-link a {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.09px;
    color: #444444;
    text-decoration: none;
}

.container .find-us .find-us-links .line {
    border-bottom: 1px solid #444444;
    width: 10px;
    height: 1px;
}

@media screen and (width < 1180px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (width < 525px) {
    .container .button-wrapper{
        max-width: unset;
    }

    .container .button-wrapper .button {
        max-width: unset;
    }
}


